<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold fs-4" href="/">Blogify</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-semibold" aria-current="page" href="/">Home</a>
        </li>
        <% if (locals.user) { %>
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="/blog/add-new">Add Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle fw-semibold"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <%= user.email %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
          </ul>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="/user/signup">Create Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="/user/signin">Signin</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<% if (locals.error) { %>
<div class="container mt-4">
  <div class="alert alert-danger shadow-sm" role="alert"><%= locals.error %></div>
</div>
<% } %>
